@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(34, 44, 40);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: #66d3aa;
}

main {
  padding: 0 20px;
  width: 100%;
}

.css-1qq5tj-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff !important;
}

.css-69z67c-MuiTabs-scroller {
  height: 48px !important;
}

.css-o98gj9-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 35px !important;
  height: 40px;
}
